@model IList<Movies.Models.MovieV>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.strMovieTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strActorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strCrewName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strCrewTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.intCrewTitleID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.intCategoryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.intMovieID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.strMovieTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strActorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strCrewName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strCrewTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.intCrewTitleID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.intCategoryID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.intMovieID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
